<div class="header pb-8 pt-5 pt-lg-8"></div>
<div class="container-fluid mt--7" *ngIf="jobInterview">
  <div class="row" *ngIf="jobInterview.jobInterview">
    <div class="col-xl-12 order-xl-1">
      <div class="shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Detalhes do FeedBack</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4">FeedBack do RH</h6>
          <div class="pl-lg-12">
            <p>{{jobInterview.jobFeedBack.recruiter}}</p>
          </div>
          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">FeedBack Tecnico</h6>
          <div class="pl-lg-12">
            <p>{{jobInterview.jobFeedBack.technical}}</p>
          </div>
          <hr class="my-4" />
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Skill</th>
                <th scope="col">Vaga</th>
                <th scope="col">Avaliação Pessoal</th>
                <th scope="col">Avaliação Técnica</th>
                <th scope="col">Comentario</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jobFeedBackSkill of jobInterview.jobFeedBack.skills">
                <td>
                  {{jobFeedBackSkill.skill.name}}
                </td>
                <td>
                  <app-star-ranking [ranking]="jobFeedBackSkill.jobSkillRanking"></app-star-ranking>
                </td>
                <td>
                  <app-star-ranking [ranking]="jobFeedBackSkill.selfEvaluation"></app-star-ranking>
                </td>
                <td>
                  <app-star-ranking [ranking]="jobFeedBackSkill.technicalEvaluation"></app-star-ranking>
                </td>
                <td>
                  <p>{{jobFeedBackSkill.comment}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
