<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <span class="mask bg-dark"></span>
</div>
<div class="container-fluid mt--7 pb-5" *ngIf="jobs">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Senioridade</th>
                <th scope="col">Salário base</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs">
                <th scope="row">
                  <a routerLink="/vaga/{{job.id}}">
                    {{job.id}}
                  </a>
                </th>
                <th>
                  {{job.name}}
                </th>
                <td>
                  {{job.description}}
                </td>
                <td>
                  <app-job-level [level]="job.level"></app-job-level>
                </td>
                <td>
                  {{job.remuneration | currency}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
