<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Senioridade</th>
                <th scope="col">Salário base</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs">
                <th scope="row">
                  {{job.name}}
                </th>
                <td>
                  {{job.description}}
                </td>
                <td [ngSwitch]="job.level">
                  <span *ngSwitchCase="0">estagiário</span>
                  <span *ngSwitchCase="1">júnior</span>
                  <span *ngSwitchCase="2">pleno</span>
                  <span *ngSwitchCase="3">sênior</span>
                </td>
                <td>
                  {{job.remuneration | currency}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" routerLink="/vaga/{{job.id}}">Ver detalhes</a>
                      <a class="dropdown-item" href="javascript:void(0)">Excluir</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
