<div class="header pb-5 pt-5 pt-md-8"></div>
<div class="container-fluid content-page-defaut" *ngIf="users">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Tipo</th>
              <th scope="col">Categoria</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">
                <div class="media align-items-center">
                  <a routerLink="/usuario/{{user.id}}">
                    <span class="mb-0 text-sm">{{user.name}}</span>
                  </a>
                </div>
              </th>
              <td>
                {{user.email}}
              </td>
              <td [ngSwitch]="user.type">
                <span *ngSwitchCase="1">colaborador</span>
                <span *ngSwitchCase="2">candidato</span>
              </td>
              <td [ngSwitch]="user.category">
                <span *ngSwitchCase="1">técnico</span>
                <span *ngSwitchCase="2">RH</span>
              </td>
              <td>
                <span class="badge badge-dot mr-4">
                  <span *ngIf="user.isEnable"><i class="bg-success"></i> ativo</span>
                  <span *ngIf="!user.isEnable"><i class="bg-warning"></i> desabilitado</span>
                </span>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" routerLink="/usuario/{{user.id}}">Ver perfil</a>
                    <a class="dropdown-item" href="javascript:void(0)">Excluir</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
