<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8" *ngIf="users">
  <app-user-header [users]="users"></app-user-header>
</div>
<div class="container-fluid mt--7 pb-5" *ngIf="users">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 float-left">
            Lista de Usuários
          </h3>
          <div class="float-right">
            <app-search (value)="changeSearch($event)"></app-search>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Tipo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <th>
                  <a routerLink="/usuario/{{user.id}}">
                    {{user.id}}
                  </a>
                </th>
                <td>
                  {{user.name}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td [ngSwitch]="user.type">
                  <span *ngSwitchCase="1">colaborador</span>
                  <span *ngSwitchCase="2">candidato</span>
                </td>
                <td [ngSwitch]="user.category">
                  <span *ngSwitchCase="1">técnico</span>
                  <span *ngSwitchCase="2">recrutador</span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <span *ngIf="user.isEnable"><i class="bg-success"></i> ativo</span>
                    <span *ngIf="!user.isEnable"><i class="bg-warning"></i> desabilitado</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-empty-list *ngIf="!users.length"></app-empty-list>
      </div>
    </div>
  </div>
</div>
